<div class="general-width">
  <form  (ngSubmit)="onSubmit()">
  <h2 class="text-center">Add Book</h2>

    <div class="form-group">
      <label for="name">Book tittle:</label>
      <input [formControl]="name" placeholder="name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="author">Last Name:</label>
      <input [formControl]="author" placeholder="author" name="author" class="form-control" id="author">
    </div>

    <label for="author">Genres:</label>
    <mat-form-field>
      <mat-select [formControl]="genresList" multiple>
        <mat-option *ngFor="let genre of genres" [value]="genre">{{genre._name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button class="btn btn-success">Add Book</button>
  </form>
</div>
