<div class="general-width">
  <h2> Home</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>BookTittle</th>
      <th>AuthorsName</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody *ngIf="Books != null">

    <tr *ngFor="let book of Books">
      <td class="hidden">{{book.id}}</td>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>
      <button class="btn btn-primary" (click)="viewBook(book)" > View</button><td>
      <button class="btn btn-danger" (click)="deleteBook(book)"> Delete</button><td>
      <button class="btn btn-light" (click)="editBook(book)"> Edit</button></td>
    </tr>
    </tbody>
  </table>
  <button (click)="previousPage()">Previous page</button>
  <button (click)="nextPage()" class="float-right">Next page</button>
</div>
